<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/js/boardScript.js"></script>
</head>
<body>
<div th:replace="~{layouts/header}"></div>	

	<div class="container mt-5">
		<form action="boardWrite" name="form1" method="post">
			<table class="table" style="width: 400px; margin: auto;">
				<tr align="center">
					<td width="60">제목</td>
					<td><input type="text" name="subject" style="width: 100%"></td>
				</tr>
				<tr align="center">
					<td>내용</td>
					<td><textarea rows="10" name="content" style="width: 100%"></textarea></td>
				</tr>
				<tr align="center">
					<td colspan="2" align="right">
						<input type="button" value="글쓰기" th:onclick="checkBoardWrite()"> 
						<input type="reset" value="다시작성">
					</td>
				</tr>
			</table>
		</form>
	</div>

	
<div th:replace="~{layouts/footer}"></div>	
</body>
</html>